* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 1rem;
    background: #EAEAEA;
}

.grid-container{
    background: lemonchiffon;

    display: grid;
    grid-template-rows: 2fr 6fr 1fr;
    grid-template-columns: 80% 20%;
    /* grid-gap: 1em; */
    grid-template-areas:    "cabecera cabecera"
                            "s_principal s_secundaria"
                            "pie_pagina pie_pagina";
}


.container-cabecera {
    background: lightblue;
    grid-area: cabecera;

    display: grid;
    grid-template-columns:20% 80%;
    grid-template-rows: 50% auto;
    grid-template-areas:    "s_logo s_barra-navegadora"
                            "s_slide s_slide";
}
.cabecera-logo {
    background: lightcoral;
    grid-area: s_logo;
}
.cabecera-slide {
    background: lightseagreen;
    grid-area: s_slide;
}
.cabecera-nav {
    background: lightgreen;
    grid-area: s_barra-navegadora;
}
.cabecera-nav > ul {
    display: grid;
    grid-template-columns: repeat(5, 17.5%);
    justify-content: flex-end;
    justify-items: flex-end;
}


.container-principal {
    background: lightpink;
    grid-area: s_principal;
}


.container-secundario {
    background: lightcyan;
    grid-area: s_secundaria;
}


.container-pie {
    background: lightcoral;
    grid-area: pie_pagina;
}