* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 1rem;
    background: #EAEAEA;
}

.grid-container{
    background: lemonchiffon;

    display: grid;
    grid-template-rows: 2fr 4fr 1fr;
    grid-template-columns: 80% 20%;
    grid-gap: 1em;
    grid-template-areas:  "cabecera cabecera"
                            "s_principal s_secundaria"
                            "pie_pagina pie_pagina";
}


.container-cabecera {
    background: lightblue;
    grid-area: cabecera;
}


.container-principal {
    background: lightpink;
    grid-area: s_principal;
}


.container-secundario {
    background: lightcyan;
    grid-area: s_secundaria;
}


.container-pie {
    background: lightcoral;
    grid-area: pie_pagina;
}